= render 'application/errors', resource: @question
= form_for @question, remote: true, html: { style: "display: none" } do |f|
  =f.label :title
  =f.text_field :title
  =f.label :body
  =f.text_area :body
  =f.submit 'Update'