=form_for comment, remote: true do |f|
  =f.hidden_field :commentable_id
  =f.hidden_field :commentable_type
  =label_tag 'comment_text', 'Comment'
  =f.text_area :text
  =f.submit 'Create', disabled: 'disabled'


