p Hello,
p Please verify the email address used with your Questionnaire account by clicking this:
=link_to 'Confirm account', receive_confirmation_url(email: @email, secret_key: @secret_key, provider: @provider, uid: @uid)
